#home-map {
    width: 100%;
    height: 80vh;
    padding: 80px 0;
    position: relative;
}

#home-map .home-google-map {
    top: 0;
    width: 100%;
    height: 60vh;
    position: absolute;
}

#home-map .home-map-info {
    bottom: 0;
    gap: 50px;
    z-index: 11;
    display: flex;
    align-items: end;
    position: absolute;
    justify-content: center;
}

#home-map .home-map-info .home-map-contact-info {
    gap: 47px;
    display: flex;
    padding: 30px 0;
    align-items: center;
    justify-content: center;
}

/* ------ Tablet Screen ------*/
@media (max-width: 1040px) {
    #home-map .home-map-info {
        gap: 30px;
    }

    #home-map .home-map-info .home-map-contact-info {
        gap: 30px;
    }
}

/* ------ Mobile Screen ------*/
@media (max-width: 720px) {
    #home-map {
        height: 75vh;
    }

    #home-map .wrapper {
        padding: 0;
    }

    #home-map .home-map-info {
        gap: 30px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #home-map .home-map-info .custom-sm-info-card {
        display: none;
    }

    #home-map .home-map-info .home-map-contact-info {
        padding: 0;
        align-items: end;
        justify-content: end;
    }
}

/* ------ Mobile Screen ------*/
@media (max-width: 433px) {
    #home-map {
        height: 90vh;
    }

    #home-map .home-map-info .home-map-contact-info {
        gap: 11px;
        margin: 0;
        padding: 0;
        align-items: start;
        flex-direction: column;
    }
}