#about-us-appointment {
    padding-top: 171px;
    padding-bottom: 127px;
}

#about-us-appointment .content-container {
    gap: 90px;
}

#about-us-appointment .request-appointment .title {
    font-size: 37px;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 20px;
    font-family: 'Kanit';
    color: var(--secondary-color);
}

#about-us-appointment .request-appointment {
    width: 50%;
}

#about-us-appointment .request-appointment .content-container {
    gap: 13px;
    margin-bottom: 30px;
}

#about-us-appointment .request-appointment .appointment-text-field {
    width: 100%;
    padding: 11px 20px;
    border: 1px solid rgba(91, 38, 38, 0.25)
}

#about-us-appointment .request-appointment .appointment-multiline-text-field {
    width: 100%;
    resize: none;
    min-height: 148px;
    padding: 11px 20px;
    margin-bottom: 40px;
    border: 1px solid rgba(0, 0, 0, 0.25)
}

#about-us-appointment .request-appointment .appointment-text-field::placeholder,
.appointment-multiline-text-field::placeholder {
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Lato';
    color: rgba(0, 0, 0, 0.5);
}

#about-us-appointment .about-us-service {
    gap: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* ------ Tablet Screen ------*/
@media (max-width: 1040px) {
    #about-us-appointment .content-container {
        gap: 44px;
    }

    #about-us-appointment .request-appointment .content-container {
        gap: 13px;
        margin-bottom: 20px;
    }
}

/* ------ Mobile Screen ------*/
@media (max-width: 720px) {
    #about-us-appointment {
        padding: 127px 0;
    }

    #about-us-appointment .content-container {
        gap: 90px;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    #about-us-appointment .request-appointment {
        width: 100%;
    }

    #about-us-appointment .request-appointment .content-container {
        gap: 20px;
        margin-bottom: 20px;
    }

    #about-us-appointment .about-us-service {
        width: 100%;
    }
}