#contact-us-info {
    padding: 60px 0;
}

#contact-us-info .content-container {
    gap: 50px;
    align-items: start;
}

#contact-us-info .content-container .contact-us-info {
    gap: 50px;
    display: flex;
}

#contact-us-info .content-container .custom-sm-info-card {
    width: 350px;
    border-top: none;
    padding: 20px 35px;
    border-left: 5px solid var(--primary-color);
}

.custom-sm-info-card .text {
    font-size: 25px;
    font-weight: 400;
    line-height: 28px;
    font-family: 'Kanit';
    color: var(--secondary-color);
}

/* ------ Tablet Screen ------*/
@media (max-width: 1040px) {
    #contact-us-info .content-container {
        gap: 40px;
    }

    #contact-us-info .content-container .contact-us-info {
        gap: 20px;
        align-items: start;
        flex-direction: column;
    }

    .custom-sm-info-card {
        width: 250px;
        padding: 15px 27px;
    }

    .custom-sm-info-card .text {
        font-size: 17px;
        line-height: 20px;
    }
}

/* ------ Mobile Screen ------*/
@media (max-width: 720px) {
    .wrapper {
        padding: 0 32px;
    }
}