#service-details-info {
    padding: 80px 0;
}

#service-details-info .content-container {
    gap: 86px;
}

#service-details-info .full-description {
    width: 60%;
}

#service-details-info .full-description .main-img {
    max-height: 555px;
    border-radius: 12px;
}

#service-details-info .full-description .text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
    font-family: 'Kanit';
}

#service-details-info .full-description .small-img {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

#service-details-info .full-description .small-img img {
    max-height: 285px;
}

#service-details-info .short-description {
    width: 40%;
}