.service-info-card {
    display: flex;
    gap: 20px;
}

.service-info-card img {
    width: 61px;
    height: 62px;
}

.service-info-card .service-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 10px;
    margin-bottom: 10px;
    font-family: 'Kanit';
    color: var(--secondary-color);
}

.service-info-card .service-subtitle {
    font-size: 16px;
    color: #41444B;
    font-weight: 300;
    line-height: 25px;
    font-family: 'Lato';
}