#home-video {
    padding: 80px 0;
}

#home-video .home-video-player {
    width: 100%;
    max-height: 555px;
    position: relative;
}

#home-video video {
    width: 100%;
    max-height: 555px;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}

#home-video .video-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}