#about-us {
    padding: 80px 0;
}

#about-us .content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about-us .about-us-info {
    padding: 80px 0;
}

#about-us .about-us-info .about-section-title {
    margin-bottom: 10px;
}

#about-us .about-us-info .section-title {
    margin-right: 23px;
    margin-bottom: 20px;
}

#about-us .about-us-info .subtitle .common-text {
    margin-right: 23px;
    margin-bottom: 20px;
}

#about-us .about-us-info .content .common-text {
    margin-right: 23px;
    margin-bottom: 40px;
}

#about-us .about-us-images {
    margin-left: 70px;
    position: relative;
}

#about-us .about-us-images .group-img-1 {
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
    position: absolute;
    border: 10px solid white;
    box-shadow: 0px 2px 15px 0px rgba(0, 33, 91, 0.1357);
}

#about-us .about-us-images .group-img-2 {
    left: 0;
    bottom: 0;
    width: 250px;
    height: 357px;
    position: absolute;
    border: 10px solid white;
    box-shadow: 0px 2px 25px 0px rgba(0, 33, 91, 0.2076);
}

#about-us .small-container {
    top: 120px;
    left: 66px;
    position: absolute;
}