#service-card {
    max-height: 327px;
}

#service-card .row-reverse {
    flex-direction: row-reverse;
}

#service-card img {
    width: 50%;
    max-height: 327px;
    object-fit: cover;
}

#service-card .service-info {
    gap: 22px;
    width: 50%;
    display: flex;
    padding: 50px;
    max-height: 327px;
    align-items: start;
    justify-content: end;
    flex-direction: column;
    background: var(--primary-color);
}

#service-card .service-info .heading {
    color: white;
    font-size: 27px;
    font-weight: 600;
    font-family: 'Kanit';
}

#service-card .service-info .description {
    color: white;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    font-family: 'Lato';
}

#service-card .service-info .service-btn {
    gap: 5px;
    width: 190px;
    height: 50px;
    display: flex;
    color: white;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    align-items: center;
    font-family: 'Kanit';
    justify-content: center;
    border: 2px solid white;
    transition: all 0.5s ease-in-out;
}

#service-card .service-info .service-btn:hover {
    gap: 17px;
    width: 200px;
}

#service-card .service-info .service-btn img {
    width: 11px;
    height: 7px;
    margin-top: 3px;
}

/* ------ Tablet Screen ------*/
@media (max-width: 1040px) {
    #service-card .service-info {
        gap: 22px;
        padding: 40px;
    }

    #service-card .service-info .heading {
        font-size: 25px;
        font-weight: 500;
    }

    #service-card .service-info .description {
        font-size: 12px;
    }

    #service-card .service-info .service-btn {
        height: 40px;
        font-size: 15px;
    }
}

/* ------ Mobile Screen ------*/
@media (max-width: 720px) {
    #service-card .service-info {
        gap: 22px;
        padding: 30px;
    }

    #service-card .service-info .heading {
        font-size: 22px;
        font-weight: 600;
    }

    #service-card .service-info .description {
        font-size: 11px;
        line-height: 20px;
    }

    #service-card .service-info .service-btn {
        height: 30px;
        font-size: 14px;
    }
}

/* ------ Mobile Screen ------*/
@media (max-width: 550px) {
    #service-card .service-info {
        gap: 11px;
        padding: 30px;
    }

    #service-card .service-info .heading {
        font-size: 22px;
        font-weight: 600;
    }

    #service-card .service-info .description {
        font-size: 11px;
        max-height: 11em;
        overflow: hidden;
        line-height: 20px;
        text-overflow: ellipsis;
    }

    #service-card .service-info .service-btn {
        padding: 17px 0;
        font-size: 14px;
        max-width: 151px;
    }
}

/* ------ Mobile Screen ------*/
@media (max-width: 450px) {
    #service-card .service-info {
        gap: 11px;
        padding: 30px;
    }

    #service-card .service-info .heading {
        font-size: 22px;
        font-weight: 600;
    }

    #service-card .service-info .description {
        font-size: 11px;
        max-height: 7em;
        overflow: hidden;
        line-height: 20px;
        text-overflow: ellipsis;
    }

    #service-card .service-info .service-btn {
        padding: 17px 0;
        font-size: 14px;
        max-width: 44px;
    }

    #service-card .service-info .service-btn p {
        display: none;
    }
}