:root {
  --royal-blue: #001ED3;
  --primary-color: #D2153D;
  --secondary-color: #00215B;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
}

.primary-color {
  background: var(--primary-color);
}

.secondary-color {
  background: var(--secondary-color);
}

.royal-blue {
  background: var(--royal-blue);
}

.wrapper {
  margin: 0 auto;
  max-width: 950px;
}

.content-container {
  display: flex;
}

/* ------ Tablet Screen ------*/
@media (max-width: 1040px) {
  .wrapper {
    max-width: 694px;
  }
}

/* ------ Mobile Screen ------*/
@media (max-width: 720px) {
  .wrapper {
    padding: 0 32px;
  }
}