#home-our-projects {
    padding: 80px 0;
}

#home-our-projects .content-container {
    gap: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#home-our-projects .project-image-card {
    gap: 10px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
}

#home-our-projects .project-image-card .first-image {
    grid-column: 1;
    grid-row: 1 / span 2;
}

#home-our-projects .project-image-card .second-image,
.fourth-images {
    grid-column: 2;
}

#home-our-projects .project-image-card .third-image,
.fifth-images {
    grid-column: 3;
}

#home-our-projects .project-image-card img {
    width: 333px;
}

/* ------ Tablet Screen ------*/
@media (max-width: 1040px) {
    #home-our-projects .project-image-card img {
        width: 222px;
    }
}

/* ------ Mobile Screen ------*/
@media (max-width: 720px) {
    #home-our-projects .project-image-card {
        grid-template-columns: auto auto;
    }

    #home-our-projects .project-image-card .first-image {
        display: none;
    }

    #home-our-projects .project-image-card .second-image,
    .fourth-images {
        grid-column: 1;
    }

    #home-our-projects .project-image-card .third-image,
    .fifth-images {
        grid-column: 2;
    }

    #home-our-projects .project-image-card img {
        width: 100%;
    }
}